# Ignore build directories
offline_*/build/

# Ignore VSCode settings
offline_*/.vscode/

# Optional: Ignore root .vscode if needed
.vscode/

#ignore .txt files
offline_*/*.txt

offline_*/inputs
offline_*/input
offline_*/output
offline_*/.antlr
offline_*/antlr_venv
offline_*/sampleio_abs
offline_*/output_codes
offline_*/*.PDF
offline_*/*.out